* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 211, 211);
  flex-direction: column;
}
.form {
  min-width: 500px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}
